{% extends 'base.html' %}

{% block title %}博客首页{% endblock %}

{% block content %}

  <div class="col-sm-7">
            <div class="blog-list">
                <div class="blog-list-item clearfix">
                    <div class="col-xs-5">
                        <img src="/blog/media/v2-970268de764bd7cfa77ec3165e21a2cd_r.jpg">
                    </div>
                    <div class="col-xs-7">
                        <a href="#" class="title">
                            记录点滴，记录成长。用博客记录技术与经验的积累，在这里找到志同道合的朋友，编程的乐趣。
                        </a>
                        <div class="info">
                            <span class="avatar"><img src="image/v2-2d45613b0fb8cdd36f53c3b31d0c6ee8_hd.jpg"
                                                      alt="avatar"></span>
                            <span>散人</span> |
                            <span>2.8K</span>
                            <span class="glyphicon glyphicon-thumbs-up blog-hot" aria-hidden="true"></span> |
                            <span>5分钟前</span>
                        </div>
                    </div>
                </div>
                <div class="blog-list-item clearfix">
                    <div class="col-xs-5">
                      <img src="/blog/media/v2-970268de764bd7cfa77ec3165e21a2cd_r.jpg">
                    </div>
                    <div class="col-xs-7">
                        <a href="blog.html" class="title">
                            不应该为丰满自己的作品集而去做项目，编程是为了面包，也是为了乐趣，甚至改变世界。
                        </a>
                        <div class="info">
                            <span class="avatar"><img src="image/v2-2d45613b0fb8cdd36f53c3b31d0c6ee8_hd.jpg"
                                                      alt="avatar"></span>
                            <span>散人</span> |
                            <span>2.8K热度</span> |
                            <span>5分钟前</span>
                        </div>
                    </div>
                </div>
                <div class="blog-list-item clearfix">
                    <div class="col-xs-5">
                       <img src="/blog/media/v2-970268de764bd7cfa77ec3165e21a2cd_r.jpg">
                    </div>
                    <div class="col-xs-7">
                        <a href="blog.html" class="title">
                            记录点滴，记录成长。用博客记录技术与经验的积累，在这里找到志同道合的朋友，编程的乐趣。
                        </a>
                        <div class="info">
                            <span class="avatar"><img src="image/v2-2d45613b0fb8cdd36f53c3b31d0c6ee8_hd.jpg"
                                                      alt="avatar"></span>
                            <span>散人</span> |
                            <span>2.8K热度</span> |
                            <span>5分钟前</span>
                        </div>
                    </div>
                </div>
                <div class="blog-list-item clearfix">
                    <div class="col-xs-5">
                       <img src="/blog/media/v2-970268de764bd7cfa77ec3165e21a2cd_r.jpg">
                    </div>
                    <div class="col-xs-7">
                        <a href="blog.html" class="title">
                            记录点滴，记录成长。用博客记录技术与经验的积累，在这里找到志同道合的朋友，编程的乐趣。
                        </a>
                        <div class="info">
                            <span class="avatar"><img src="image/v2-2d45613b0fb8cdd36f53c3b31d0c6ee8_hd.jpg"
                                                      alt="avatar"></span>
                            <span>散人</span> |
                            <span>2.8K热度</span> |
                            <span>5分钟前</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}